.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.grid {
  display: grid;
  align-items: baseline;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 auto;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
